$colrev: column-reverse;
$minimum-height: 100vh;
$primary: #1e2a60;
$secondary: rgb(255, 242, 0);

@use "sass:math";
@use "nav";
@use "banner";
@mixin flexCenter($direction: row){
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
    gap: 20px - 10; //using math sass
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

.active {
    border-bottom: nav.$basic-border;
}

.container {
    min-height: $minimum-height;
    background-color: $primary;
    @include flexCenter();
    .content {
        height: 100%;
        width: 25%;
        background: $secondary;
    }
}

%basic-message {
    border: 10px solid #cccc;
    padding: 10px;
    color: #333;
    font-size: 2rem;
}

.success {
    @extend %basic-message;
    border-color: green;
}
.error {
    @extend %basic-message;
    border-color: red;
}
.warning {
    @extend %basic-message;
    border-color: yellow;
}





