@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --primary: #1F274C;
    --primary-hover: #28325b;
    --secondary: #FC5739;
    --secondary-hover: #ff6044fd;
    --accent: #E5B220;
}

* {
    margin: 0;
    box-sizing: border-box;
}

header, .banner, .intro, .projects, .testimony, .work-approach, footer {
    background: #f4f6fc;
    padding: 10px 50px;
}

header {
    position: sticky;
    top: 0;
    align-items: center;
    height: 80px;
}

/*CSS Navbar*/
.flex-container {
    display: flex;
    font-family: Inter;

}

.logo {
    margin-right: auto;
    align-self: center;
}

.logo > p {
    font-size: 22px;
    color: #FC5739;
}

nav > ul {
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 14px;
    
}

nav > ul > li {
    border-bottom: 1.5px solid transparent;
    cursor: pointer;
    
}

nav > ul > li:hover {
    border-bottom: 1.5px solid black;
}

li a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 2px;
    
}

.active {
    border-bottom: 1.5px solid black;
    
}

.background {
    background: #F4F6FC;
}

.hamburger {
    display: none;
    height: 20px;
}

.hamburger > img {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav > ul {
        display: none;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner > .image-container {
        align-self: center;
    }
}

/* banner CSS */
.banner {
    display: flex;
    background: var(--primary);
    color: white;

}

.banner > .info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 40px;
}

.banner > .image-container {
    flex: 1;
    width: 100px;
    
}

.image-container > img {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

/* CSS Intro */
.intro {
    text-align: center;
}

.service-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
 
}

.service-content > .card > .card-title {
    font-weight: 700;
    font-size: 1.5rem;
}

.title-intro {
    color: var(--secondary);
}

/*CSS Btn*/
.btn {
    background: var(--secondary);
    color: white;
    border: 0;
}

.btn:hover {
    background: var(--secondary-hover);
}

.content {
    color: var(--primary);
}

.projects {
    background: var(--primary);
}

.work-approach {
    background: var(--accent);
}

.work-btn {
    background: var(--primary);
    color: white;
    border: 0;
}

.work-btn:hover {
    background: var(--primary-hover);
}

footer {
   background: var(--primary); 
   color: white;
}